<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Interlan AI test
    </ion-title>
    <ion-progress-bar *ngIf="waitingForResponse" type="indeterminate"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <ion-card>
      <ion-textarea [(ngModel)]="ngModelPrompt" rows="10"></ion-textarea>
    </ion-card>

    <ion-item>
      <ion-select [(ngModel)]="ngModelOperation" label="Operation" >
        <ion-select-option [value]="Operations.CreateGrid">CREATE</ion-select-option>
        <ion-select-option [value]="Operations.GridAdd">ADD</ion-select-option>
      </ion-select>
    </ion-item>

    <hr>
    <strong>{{descriptions[ngModelOperation]}}</strong>
    <p>{{'example: ' + examples[ngModelOperation]}}</p>
    <hr>

    <ion-button (click)="sendPrompt()">Send request</ion-button>
    <ion-button (click)="log()">log</ion-button>

    <ion-grid [fixed]="true">
      <ion-row *ngFor="let row of rows">
        <ion-col *ngFor="let pro of columnNames">
          {{row[pro]}}
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
</ion-content>
